@{
  ViewData["Title"] = $"Delete {Model.Name}";
}

@model AnimalShelterClient.Models.Animal

<h3>Are you sure you want to delete @Model.Name? This cannot be undone.</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

@Html.ActionLink("Back to details", "Details", new { id = @Model.AnimalId})